--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
motor
pymongo
pydantic[email]
PyJWT
requests
pandas
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart
email-validator
torch
httpx
cryptography
google-genai
requests
