fastapi
uvicorn[standard]
motor
pymongo
pydantic[email]
PyJWT
requests
pandas
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart
email-validator
transformers
torch
httpx
cryptography
google-genai
